<%- include("partials/header") %>
    <h1><%= Sky.name %></h1>
    <img src = "<%= Sky.image %> class="img-fluid" width ="250px" >
    <p style="text-align: center;"> <%= Sky.desc %> </p>
<%- include("partials/footer") %>